#main{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
#first p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    margin-bottom: 50px;
    color: black;
}
#first h1{
    margin: 50px 0 20px 0;
    color: black;
}
#second{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 30px 280px 40px 280px;

}
#sec-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    color: black;
    
}
#sec-txt h3{
    background-color: rgb(239, 220, 185);
    color: orange;
    height: 20px;
    width: 80px;
    padding-left: 7px;
    border-radius: 20px;
    margin-bottom: 30px;
}
#sec-txt h1{
    margin-bottom: 20px;
}
#sec-txt button{
    background-color: orange;
    color: white;
    border-color: orange;
    padding: 10px 30px 10px 30px;
    margin-top: 30px;
}
#sec-img img{
    height: 300px;
    width: 300px;
}
